UPLOAD_CSV_FILEPATH=tests/datasets/sample.csv
UPLOAD_PARQUET_FILEPATH=tests/datasets/sample.parquet

DUCKDB_UPLOAD_DB_BACKEND=duckdb
DUCKDB_UPLOAD_DB_PARAMS='{"db_path":"memFrame_new.duckdb"}'

POSTGRES_UPLOAD_DB_BACKEND=postgres
POSTGRES_UPLOAD_DB_PARAMS='{"backend":"postgres","host":"localhost","port":5432,"user":"xxxx","password":"xxx","database":"xxx"}'
